* {
  box-sizing: border-box;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: aliceblue;
  position: relative;
}
.drpact {
  background-color: aquamarine;
}

.act {
  background-color: #324d4e;
}

.home {
  width: 80vw;
  max-width: 1000px;
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}

.slider {
  appearance: none;
  height: 12px;
  width: 100px;
  background-color: #464646;
  border-radius: 6px;
  overflow: hidden;
}
.slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid #868686;
  border-radius: 8px;
  background-color: aliceblue;
  box-shadow: -400px 0 0 389px #c9c9c9;
}

.list-el {
  border: 1px solid #686767;
  background-color: #353535;
  padding: 10px;
  margin: 0 auto;
}
.list-el:hover {
  border: 1px solid #868686;
  background-color: #464646;
}
.del {
  border-radius: 10px;
  height: 200px;
  width: 200px;
  top: 5vh;
  right: 2vw;
}
.delact {
  background-image: radial-gradient(#641f1f, transparent, transparent);
}
.btn {
  height: 50px;
  width: 50px;
}
#add-title,
#add-det {
  background-color: transparent;
  color: aliceblue;
  border: none;
  resize: none;
  margin: 2px;
}
#add-title:focus,
#add-det:focus {
  outline: none;
}

.butns {
  display: flex;
  justify-content: space-between;
}
.btnad,
.btnc,
.btnading {
  border-radius: 25px;
  width: 45%;
  height: 50px;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #e0e0e0;
  margin: 5px;
  cursor: pointer;
}

.shrt {
  border-radius: 20px;
  height: 40px;
}

.btnading {
  color: black;
  border: 2px solid #1b1b1b;
}

.btnad {
  background-color: #e0e0e0;
}
.btnc {
  background-color: transparent;
  color: aliceblue;
}

input {
  border-right: none;
  border-top: none;
  background-color: transparent;
  color: aliceblue;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}
